/***
  section: Buttons
  name: Square buttons
  description: |
    Very pretty square buttons

    ### States
    - ```.btn.btn-small``` - Button size small.
    - ```.btn.btn-medium``` - Button size medium.
    - ```.btn.btn-large``` - Button size large.
  statuses: [btn-small, btn-medium, btn-large]
  example: |
    a.btn Button
    a.btn.btn-small button
    a.btn.btn-medium button
    a.btn.btn-large button
***/

.btn {
  display: inline-block;
  padding: .3em .6em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: red;
}

.btn:hover {
  background-color: #38306e;
}

.btn-small {
  font-size: .8em;
}

.btn-medium {
  font-size: 1em;
}

.btn-large {
  font-size: 1.3em;
}

/***
  section: Buttons
  name: Round buttons
  description: |
    Very pretty rounded buttons

    ### States
    - ```.btn.btn-small``` - Button size small.
    - ```.btn.btn-medium``` - Button size medium.
    - ```.btn.btn-large``` - Button size large.
  statuses: [btn-small, btn-medium, btn-large]
  example: |
    a.btn.btn-round Button
    a.btn.btn-round.btn-small button
    a.btn.btn-round.btn-medium button
    a.btn.btn-round.btn-large button
***/

.btn-round {
  border-radius: 20px;
}


/***
  section: Buttons
  name: Links
  description: Very pretty links
  example: |
    a.btn-link Button
***/

.btn-link {
  background: none;
  color: darkslateblue;
}

.btn-link:hover {
  text-decoration: none;
}
