/**
[Section] Buttons 2
[Name] Square buttons
[Description]

Very pretty square buttons

### States

- ```.btn.btn-small``` - Button size small.
- ```.btn.btn-medium``` - Button size medium.
- ```.btn.btn-large``` - Button size large.

### Sources
- /app/styles/_button.scss

[Statuses]
btn-small, btn-medium, btn-large

[Example]
p Simple button Red
p
  a.btn Button
p Sizes
p
  a.btn.btn-small button
  a.btn.btn-medium button
  a.btn.btn-large button
**/

.btn {
  display: inline-block;
  padding: .3em .6em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: red;
}

.btn:hover {
  background-color: #38306e;
}

.btn-small {
  font-size: .8em;
}

.btn-medium {
  font-size: 1em;
}

.btn-large {
  font-size: 1.3em;
}


/**
[Section] Buttons 2
[Name] Round buttons
[Description]

Very pretty rounded buttons

### States

- ```.btn.btn-small``` - Button size small.
- ```.btn.btn-medium``` - Button size medium.
- ```.btn.btn-large``` - Button size large.

### Sources
- /app/styles/_button.scss

[Statuses]
btn-small, btn-medium, btn-large

[Example]
a.btn.btn-round Button
a.btn.btn-round.btn-small button
a.btn.btn-round.btn-medium button
a.btn.btn-round.btn-large button
**/

.btn-round {
  border-radius: 20px;
}


/**
[Section] Buttons 2
[Name] Links
[Description]

Very pretty links

### Sources
- /app/styles/_button.scss

[Example]
a.btn-link Button
**/

.btn-link {
  background: none;
  color: darkslateblue;
}

.btn-link:hover {
  text-decoration: none;
}
