/**
 * LINK
 */

a img { border: 0; }


a {
  transition: color .1s, background-color .1s;
  color: $base-link-color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $base-link-color-dark;
    text-decoration: none;
  }
}
