/**
 * LISTS
 *
 * Elimina el espacio vertical extra, cuando anidamos varias listas.
 */
li {

  > ul,
  > ol {
    margin-bottom: 0;
  }

}


ul > li,
ol > li {
  margin-left: $space;
}


// Definition lists.
dl {

  dt,
  dd {
    margin-left: 0;

    @include media(palm) {
      margin-left: halve($space);
    }
  }

  dt { font-weight: font($body-type, bold); }

  dd + dt { padding-top: 1rem; }
}
