/**
 * IMAGES
 *
 * 1. Imágenes llenan todo el ancho para mejorar la adaptación a distintas pantallas.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Elimina el espacio en blanco que aparece debajo del elemento 'img'.
 *    Mejor alternativa que usar 'display:block'.
 */
img {
  max-width: 100%; /* [1] */
  height: auto;
  font-style: italic; /* [2] */
  vertical-align: middle; /* [3] */
  box-sizing: content-box;
  -ms-interpolation-mode: bicubic;
}



/**
 * GOOGLE MAPS
 *
 * 1. Los mapas de Google se rompen si `max-width: 100%`; usamos su propio
 *    selector para evitar este problema.
 * 2. Si se define de forma explicita la altura o anchura de una imagen, tenemos
 *    que evitar que se adapte para que no se deforme.
 */
.gm-style img,
img[width],
img[height] {
  max-width: none;  /* [1, 2] */
}
