doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    base(href='./')
    title= 'Didor starter'
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')

    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    // build:css css/style.min.css
    // bower:css
    // endbower
    // inject:css
    // endinject
    // endbuild

  body
    | Hola mundo!

    // build:js js/vendor.min.js
    // bower:js
    // endbower
    // endbuild
    // build:js js/app.min.js
    // inject:js
    // endinject
    // endbuild
